<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form name="myForm" (ngSubmit)="f.form.valid && onSubmit($event)" #f="ngForm" novalidate>
                    <div class="form-group">
                        <label>name</label>
                        <input id="userName" name="userName" type="text" class="form-control"
                            aria-describedby="emailHelp" minlength="1" [(ngModel)]="client.bussinessId"
                            #userName="ngModel" placeholder="Enter userName" required="true">
                        <div *ngIf="f.submitted && userName.invalid">
                            userName is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label>phone</label>
                        <input name="phone" #phone="ngModel" type="text" class="form-control" id="phone"
                            [(ngModel)]="client.phone" placeholder="Enter your phone">
                        <div *ngIf="f.submitted && phone.invalid">
                            phone is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label>email</label>
                        <input name="email" #email="ngModel" type="email" class="form-control" id="email"
                            [(ngModel)]="client.email" placeholder="Enter your email" required>
                        <div *ngIf="f.submitted && email.invalid">
                            phone is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label>startDate</label>
                        <input name="startDate"  #startDate="ngModel" type="date" class="form-control" id="startDate"
                            [(ngModel)]="client.startDate" placeholder="Enter your email" required>
                        <div *ngIf="f.submitted && startDate.invalid">
                            start Date is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label>endDate</label>
                        <input name="endDate"  #endDate="ngModel" type="date" class="form-control" id="endDate" [(ngModel)]="client.endDate"
                            placeholder="Enter your email" required>
                            <div *ngIf="f.submitted && endDate.invalid">
                                end Date is required.
                            </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
            </div>
        </div>
    </div>
</div>