<div class="vertical-nav bg-white" id="sidebar">
  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Allianza</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a routerLink="/clients" routerLinkActive="active" class="nav-link text-dark font-italic bg-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Clients
      </a>
    </li>
  </ul>
</div>

<div class="page-content p-5" id="content">
  <router-outlet></router-outlet>
</div>

